BLUR_CONFIG_PATH=Code/Config.json
BLUR_SYSTEM=StudentPC
BLUR_MODEL_SELECTION=1
BLUR_ENABLE_MULTI_GPU=false
BLUR_DEVICE_IDS=3,4
BLUR_DEFAULT_GPU=cuda:0
BLUR_TENSORBOARD=false
BLUR_EPOCHS=1000
BLUR_BATCH_SIZE=64
BLUR_VALIDATION_SPLIT=0.3
BLUR_NUM_CLASS_CONFUSION_MATRIX=9
BLUR_PATH_SINGLE_FILE=
BLUR_OUTPUT_PATH=Outputs/
BLUR_CUSTOM_MODEL_PATH=
BLUR_TRANSFORM_IMAGES=true
BLUR_LOG_LEVEL=INFO
